<div class="content p-1">
    <div class="list-group-item">
        <div class="d-flex">
            <div class="mr-auto p-2">
                <h2 class="display-4 titulo">Editar Post</h2>
                {{>_msg}}
            </div>
            <a href="/posts/list-posts">
                <div class="p-2">
                    <button class="btn btn-outline-primary ">
                        Listar
                    </button>
                </div>
            </a>
        </div>
        <hr>

        <form action="/posts/post/{{post.id}}?_method=PUT" method="POST" id="postEditForm"
            enctype="multipart/form-data">
            <input type="hidden" name="_method" value="PUT">

            <div class="form-group col-md-6">
                <label><span class="text-danger">*</span> Título</label>
                <input name="title" type="text" class="form-control" value="{{post.title}}">
            </div>
            <div class="form-group col-md-6">
                <label><span class="text-danger">*</span> Resumo</label>
                <textarea name="description" class="form-control">{{post.description}}</textarea>
            </div>
            <div class="form-group col-md-6">
                <label> Conteúdo do Post</label>
                <textarea name="content" class="form-control">{{post.content}}</textarea>
            </div>

            <div class="input-group col-md-6 mb-3">

                <div class="custom-file">
                    <input type="file" class="custom-file-input" id="imageUpload" accept="images/*" name="images"
                        multiple>
                    <label class="custom-file-label" for="inputGroupFile04">Escolher arquivo</label>
                </div>

            </div>
            <div class="mb-3">
                {{#each post.images}}
                <img src="{{this.url}}" alt="Images upload" width="200px">
                <label for="image{{@index}}">Delete?</label>
                <input type="checkbox" name="deleteImages[]" class="imageDeleteCheckbox" id="image{{@index}}"
                    value="{{this.public_id}}">
                {{/each}}
            </div>

            <p>
                <span class="text-danger">* </span>Campo obrigatório
            </p>
            <button type="submit" class="btn btn-primary">Salvar</button>
        </form>
    </div>
</div>
</div>

<script>
    //find post edit form
    let postEditForm = document.getElementById("postEditForm");
    //add submit listener to post edit form
    postEditForm.addEventListener('submit', function (event) {

        //find length of uploaded images
        let imageUploads = document.getElementById("imageUpload").files.length;
        //find total number of existing images
        let existingImgs = document.querySelectorAll(".imageDeleteCheckbox").length;
        //find total of number of essentials deletions
        let imgDeletions = document.querySelectorAll(".imageDeleteCheckbox:checked").length;

        //figure out if the form can be submited or not
        let newTotal = existingImgs - imgDeletions + imageUploads;

        if (newTotal > 4) {
            event.preventDefault();
            let removalAmt = newTotal - 4;
            alert(`You need to remove at least ${removalAmt} images${removalAmt === 1 ? '' : 's'}!`);
        }
    });


</script>