<div class="container p-5">
    <h1>{{post.title}}</h1>

    <p class="lead"> {{post.description}}</p>

    <p class="">{{post.content}}</p>

    <div class="mt-4">
        {{#each post.images}}
        <img src="{{this.url}}" alt="post image" class="img-fluid box-shadow-5 mb-5">

        {{/each}}

    </div>
    <div class="mt-3">
        <span>Atualizado em: <strong>{{formatDate post.updatedAt}}</strong> </span><br>
        <span>Criado em: <strong>{{formatDate post.createdAt}}</strong> </span>

    </div>


</div>